Artefactos/wsdl/ProductoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.ABC.co/Servicios/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductoService"
	targetNamespace="http://www.ABC.co/Servicios/" >
	<wsdl:types>
		<xsd:schema>
			<xsd:import schemaLocation="../Schemas/Cuerpo.xsd"
				namespace="http://www.ABC.co/Servicios/" />
			<xsd:import schemaLocation="../Schemas/Cabecera.xsd"
				namespace="http://www.ABC.co/Servicios/" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ConsultaReq">
		<wsdl:part element="tns:reqEstandar" name="Consulta" />
	</wsdl:message>
	<wsdl:message name="headerConsultaReq">
		<wsdl:part element="tns:headReqEstandar" name="headerConsultaRequest" />
	</wsdl:message>
	<wsdl:message name="ConsultaRes">
		<wsdl:part element="tns:resEstandar" name="ConsultaResponse" />
	</wsdl:message>
	<wsdl:message name="headerConsultaRes">
		<wsdl:part element="tns:headResEstandar" name="headerConsultaResponse" />
	</wsdl:message>
	<wsdl:message name="ActualizaReq">
		<wsdl:part element="tns:reqEstandar" name="Actualiza" />
	</wsdl:message>
	<wsdl:message name="headerActualizaReq">
		<wsdl:part element="tns:headReqEstandar" name="headerActualizaRequest" />
	</wsdl:message>
	<wsdl:message name="ActualizaRes">
		<wsdl:part element="tns:resEstandar" name="ActualizaResponse" />
	</wsdl:message>
	<wsdl:message name="headerActualizaRes">
		<wsdl:part element="tns:headResEstandar" name="headerActualizaResponse" />
	</wsdl:message>
	<wsdl:portType name="ProductoService">
		<wsdl:operation name="Consultar">
			<wsdl:input message="tns:ConsultaReq" />
			<wsdl:output message="tns:ConsultaRes" />
		</wsdl:operation>
		<wsdl:operation name="Actualizar">
			<wsdl:input message="tns:ActualizaReq" />
			<wsdl:output message="tns:ActualizaRes" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ProductoServiceBinding" type="tns:ProductoService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Consultar">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header use="literal" part="headerConsultaRequest"
					message="tns:headerConsultaReq" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="headerConsultaResponse"
					message="tns:headerConsultaRes" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Actualizar">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header use="literal" part="headerActualizaRequest"
					message="tns:headerActualizaReq" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="headerActualizaResponse"
					message="tns:headerActualizaRes" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ProductoService">
		<wsdl:port binding="tns:ProductoServiceBinding" name="ProductoServicePort">
			<soap:address location="http://www.ABC.co/ProdutoService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>